<article class="flex flex-col items-center justify-center gap-8 w-full">
  <h1 class="zen-maru-gothic-bold text-4xl text-center mb-4"><%= title "リスト一覧" %></h1>
  <div class="flex flex-col items-center w-full">
    <ul class="w-full grid grid-cols-1 justify-center items-center gap-4">
      <% @lists.each do |list| %>
        <% next unless list.books.present? %>
        <%= render list %>
      <% end %>
    </ul>
  </div>
</article>