<article class="mt-8 flex flex-col justify-center items-center gap-8">
  <h1 class="zen-maru-gothic-bold text-4xl text-center"><%= title "ログイン" %></h1>
  <p class="text-center"><%= link_to "Googleでログイン", '/auth/google_oauth2', class: "btn btn-google" %>
  </p>
</article>