<section>
  <h1>書籍検索</h1>

  <input type="text" id="input-title" placeholder="書籍タイトル" />
  <button type="button" id="search-button">検索</button>

  <p id="result" class="hidden"></p>

  <table id="book-table" class="hidden">
    <thead>
      <tr>
        <th>タイトル</th>
        <th>表紙</th>
      </tr>
    </thead>
    <tbody id="book-list">
    </tbody>
  </table>
</section>

<script>
  document.addEventListener("DOMContentLoaded", function() {
    const searchButton = document.getElementById("search-button");
    searchButton.addEventListener("click", async() => {
      const input = document.getElementById("input-title");
      const result = document.getElementById("result");
      const query = input.value;

      if (query === "") {
        result.classList.remove("hidden");
        result.classList.add("text-red-500");
        result.textContent = "書籍タイトルを入力してください。";
        displayReset();
        return;
      }

      try {
        const response = await fetch(`/api/v1/search_books?title=${query}`);
        if (!response.ok) {
          throw new Error("Network response was not ok");
        }
        const data = await response.json();
        if (data.books.length === 0) {
          result.classList.remove("hidden");
          result.classList.add("text-red-500");
          result.textContent = "書籍が見つかりませんでした。";
          displayReset();
        } else {
          result.classList.remove("hidden");
          result.classList.add("text-green-500");
          result.textContent = `${data.hits}件の書籍が見つかりました。`;
          displayBooks(data.books);
        }
      } catch (error) {
        result.classList.add("text-red-500");
        result.textContent = "エラーが発生しました。";
        displayReset();
      }
    });

    function displayReset() {
      const bookTable = document.getElementById("book-table");
      bookTable.classList.add("hidden");
      const bookList = document.getElementById("book-list");
      bookList.classList.add("hidden");
      bookList.innerHTML = "";
    }

    function displayBooks(books) {
      const bookTable = document.getElementById("book-table");
      bookTable.classList.remove("hidden");
      const bookList = document.getElementById("book-list");
      bookList.classList.remove("hidden");
      bookList.innerHTML = "";

      books.forEach(function(book){
        const row = document.createElement("tr");
        const titleCell = document.createElement("td");
        titleCell.textContent = book.title;

        const imageUrlCell = document.createElement("td");
        const image = document.createElement("img");
        image.src = book.image_url;
        image.alt = book.title;
        image.width = 200;
        image.height = 200;
        imageUrlCell.appendChild(image);

        row.appendChild(titleCell);
        row.appendChild(imageUrlCell);
        bookList.appendChild(row);
      });
    }
  });
</script>