<section>
  <%= form_with url: new_list_book_path(@list), method: :get, local: true do |form| %>
    <div class="flex gap-5 justify-center items-center">
      <%= form.text_field :title, placeholder: "書籍タイトル", class: "input" %>
      <%= form.submit "検索", class: "btn btn-primary" %>
    </div>
  <% end %>
</section>

<% if @result.present? %>
  <h2 class="text-xl font-semibold text-center">検索結果</h2>
  <div class="grid grid-cols-1 gap-6 justify-center items-center w-full">
    <% @result[:books].each do |book| %>
      <%= render 'book', book: book %>
    <% end %>
  </div>
<% end %>