<script type="module" src="https://unpkg.com/cally"></script>
<article class="flex flex-col items-center justify-center gap-8">
  <h1 class="zen-maru-gothic-bold text-4xl text-center"><%= title "書籍登録" %></h1>
  <%= render "books/search_books" %>
</article>