<div id="header" style="height: 60px; text-align: center; padding: 10px 0;">
  <h1>フラッシュメッセージをここに記載していく</h1>
  <% flash.each do |message_type, message| %>
    <% alert_class = case message_type.to_sym
      when :notice, :success then "alert alert-success"
      when :alert, :warning then "alert alert-warning"
      when :error then "alert alert-error"
      else "alert"
    end %>
    <div role="alert" class="<%= alert_class %>">
      <span><%= message %></span>
    </div>
  <% end %>
</div>
