<div id="header" style="height: 60px; text-align: center; padding: 10px 0;">
  <h1>フラッシュメッセージをここに記載していく</h1>
  <% flash.each do |message_type, message| %>
    <div class="alert alert-<%= message_type %>">
      <%= message %>
    </div>
  <% end %>
</div>
